// SECTION DISCOUNT

.section-discount{
    margin: 6rem auto;

    .carousel{
        background-color: white;
        position: relative;

        .carousel-discount-title{
            color: $white;
            display: inline-block;
            position: absolute;
            top: -1.45rem;
            margin: 0 auto;
            margin-left: auto;

            &__left{
                border-style: solid;
                border-width: 21.8px 40px 22px 0;
                border-color: transparent  $red transparent transparent;
                display: inline-block;
                position: relative;
                height: 0;
                width: 0;
                margin-right: -0.7px;
            }
    
            &__mid{
                background-color: $red;
                font-size: 1.4rem;
                display: inline-block;
                padding: 0.2rem;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                height: 2.7rem;
                width: 13rem;

                .fa-circle{
                    font-size: 0.5rem;
                    margin: auto 0;
                }
            }
             
    
            &__right{
                border-style: solid;
                border-width: 22px 0 21.8px 40px;
                border-color: transparent transparent transparent $red;
                display: inline-block;
                position: relative;
                height: 0;
                width: 0;
                margin-left: -0.9px;
            }
        }
    }

    
}