// SECTION MULTI IMAGE 

.section-multi-img{
    background-color: white;
    
    .img-section{
        width: 100%;
        
        .image-news{
            height: 10rem;
            width: 10rem;

            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}