// NEWS SECTION

.news{
    position: relative;

    .card-body{
        padding: 1rem 1rem 0 1rem;
    }
    
    .text-bot{
        padding: 1rem;
    }

    .image{
        height: 13rem;
        padding: 0.5rem;

        .card-img-top{
            max-height: 100%;
            max-width: 100%;
            width: auto;
        }
    }
}
