// Body
$body-bg: #f2f2f2;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$blue: #3490dc;
$blue-light: #0d6ad4;
$blue-dark: #0d4585;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #eb4040;
$gray: #bbbbbb;
$gray-border: #d6d6d6;
$gray-light: #f2f2f2;
$gray-light-2: #e6e6e6;
$orange: #ebc972;
$brown: #d58e32;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
