@import 'web/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import '~flickity/dist/flickity.min.css';

// *SASS File*
@import 'web/navbar';
@import 'web/footer';
@import 'product/product';

// Home
@import 'web/home/discount';
@import 'web/home/products';
@import 'web/home/images';
@import 'web/home/news';

// Components
@import 'web/components/card';
@import 'web/components/button';
@import 'web/components/shape';
@import 'web/components/flickity';

body{
    background-color: $body-bg;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
ul{
    li{
        margin-bottom: 3px;
    }
}

small{
    color: white;
}

a:hover{
    text-decoration: none;
    &:hover{
        color: $light-brown;
    }
}
