// FOOTER

.footer{
    background-color: $color-primary;
    color: white;

    .footer-left__detail{
        margin-top: 0.5rem;
    }

    .email-text__main{
        margin-top: 0.5rem;
    }
    
    ul{
        padding: 0;
        li{
            list-style: none;

            &:hover a{
                color: $light-brown;
            }

            a{
                color: white;
            }
        }
    }
    
    .form-control {
        height: 40px;
        border-radius:0;

        &:focus{
            box-shadow: none;
        }
    }
    .btn {
        min-height: 40px; 
        border-radius:0;
        background-color: $brown;
        color: $white;
        font-weight:600;
    }
}
