// SECTION NAVBAR

.logo-mid{
    img{
        width: 11rem;
    }
}

.logo-nav{
    img{
        width: 4.1rem;
    }
}

.navbar-toggler{
    border: 0px;
    padding: 0;

    &:focus{
        outline: none;
    }
}

.navbar-top {
    // border-bottom: 1px solid $gray-light-2;
    a{
        small:hover{
            color: $light-orange;
        }
    }
    
    .language-nav{
        color: white;
        width: 5rem;

        .language{
            display: inline-block;
        }

        &::after{
            content:"|";
            color: $gray;
            margin-left: 1rem;
        }

        
    }

    .login-nav{
        color: white;
        &:hover{
            color: $light-orange;
        }
    } 

    .search-button{
        font-size: 0.8rem;
        // margin-right: 2rem;

        &__left{
            color: white;
        }

        &:hover .search-button__left{
            color: $brown;
        }
    }

    .cart-button{

        .shopping-cart-nav{
            color: white;
            font-size: 0.8rem;
            position: relative;

            .notify-badge{
                height: 15px;
                width: 15px;
                background-color: $brown;
                font-size: 0.6rem;
                position: absolute;
                padding: 3px;
                right: -6px;
                top: -4px;
                text-align: center;
                z-index: 2;
            }

            &:hover .notify-badge{
                background-color: $yellow;
            }
        }

        &:hover .shopping-cart-nav{
            color: $brown;
        }
    }
}

.navbar-collapse{
    position: sticky;
    top: 44px;
    z-index: 2000;
}
.search-collapse{
    position: sticky;
    top: 44px;
    z-index: 2100;
}
.navbar-bot{
    position: sticky;
    top: 39px;
    z-index: 2000;

    ul{
        li{
            margin-bottom: 0;
        }
    }
}

.navbar-nav {
    display: flex;
    // font-size: 1rem;
    // justify-content: space-between;
    width: 100%;
   .nav-item{
        .nav-link{
            color:white;

            &:hover{
                color: $light-orange;
            }
        }
   }
    
}

.navbar{
    color: white;

    .navbar-brand {
        img {
            width: 12rem;
            @include transition();
        }
    }

    
    .input-group{
        position: relative;

        

        select{
            border-radius: 1.25rem 0 0 1.25rem;
            // color: $disable;
        }
        .search-input{
            border-radius: 0 1.25rem 1.25rem 0;
            width: 250px;
        }
        .search-input + button{
            position: relative;
            left: -40px;
            .btn-search{
                // color: $disable;
            }
        }
    }
    // .input-group{
    //     position: relative;
    //     .btn-search{
    //         position: absolute;
    //         top: 0;
    //         right: 0;
    //         z-index: 1;
    //     }
    //     select{
    //         border-radius: 2.5rem 0 0 2.5rem !important;
    //         color: gray;
    //     }
    
    //     .search-input{
    //         border-radius: 0 2.5rem 2.5rem 0 !important;
    //     }
    
    //     .search-input + button{
    //         position: relative;
    //         left: -2.5rem;
        
    //         .btn-search{
    //             color: gray;
    //         }
    //     }
    // }
    
}
.shopping-card-nav{
    display: inline-block;
    position:relative;

    .fa-shopping-cart{
        color: white;
        z-index: 1;
    }

    .notify-badge{
        height: 20px;
        width: 20px;
        background-color: $brown;
        font-size: 0.7rem;
        position: absolute;
        // padding: 3px;
        // right: 1.8rem;
        top: 0;
        text-align: center;
        z-index: 2;
    }

    &:hover{
        color: $white !important;
    }

    &:hover .notify-badge{
        background-color: $yellow;
    }
}  