// CAROUSEL SLIDE

.section-product-carousel{
    background-color: white;

    .info-left{
        width: 100%;
        
        .product-slide-image{
            max-width: 713px;
            // margin-left: 20rem;
        }
    }

    .info-right{
        position: relative;
        top: 10rem;
        font-size: 2.5rem;
        border-left: 1px solid $gray-border;
        padding-left: 12rem;

        h1{
            font-size: 5rem;
            margin-bottom: 5rem;
        }

        h2{
            font-size: 4rem;
            display: inline-block;
        }

        p{
            display: inline-block;
        }

        &__sale{
            padding-top: 2.5rem;
            font-size: 2rem;
            text-align: center;
            margin-left: 10rem;
            display: inline-block;
            background-color: $light-red;
            border-radius: 50%;
            color: white;
            width: 9rem;
            height: 9rem;
        }

        &__small{
            display: block;
            width: 45rem;
        }

        .btn-buy-now{
            font-size: 2.5rem;
        }

    }
}

@include media-breakpoint-down(sm){

    .section-product-carousel{

        .info-left{
            width: 100%;
            
            .product-slide-image{
                max-width: 713px;
                // margin-left: 20rem;
            }
        }
    
        .info-right{
            position: relative;
            top: 6em;
            font-size: 1em;
            border-left: 1px solid $gray-border;
            padding-left: 3em;
    
            h1{
                font-size: 1.5em;
                margin-bottom: 2em;
            }
    
            h2{
                font-size: 1em;
                display: inline-block;
            }
    
            p{
                display: inline-block;
            }
    
            &__sale{
                padding-top: 1em;
                font-size: 1em;
                text-align: center;
                margin-left: 3em;
                display: inline-block;
                background-color: $light-red;
                border-radius: 50%;
                color: white;
                width: 4em;
                height: 4em;
            }
    
            &__small{
                display: block;
                width: 20em;
            }
    
            .btn-buy-now{
                font-size: 1em;
            }
    
        }
    }
    
}