
// BUTTON

.btn-add-to-cart{
    
    &:hover{
        color: $white !important;
    }

    border: none;
    background-color: gray;
    font-size: 1.7rem;
    color: white !important;
}

// BUTTON SCROLL

#myBtn {
    background-color: $brown;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 1rem;
    margin: 30px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    transition: background-color .3s;   
    text-align: center;
    height: 40px;
    width: 40px;
    z-index: 1000;

    &:hover {
        background-color: #555; 
        cursor: pointer;
    }
}
  

