// CARD

.card-title{
    color: $black;
}

.card-body{
    padding: 0;
}

.card-discount{
    display: inline-block;
    position: absolute;

    .card-img-top{
        cursor: pointer;
    }

    &:hover .product-title{
        color: $light-brown;
        
    }

    &:hover .btn-add-to-cart{
        background-color: $light-brown;
        color: $white;
    }

    .card-sale{
        position: absolute;
        right: -14px;

        .sale-shape{
            background-color: $light-red;
            color: white;
            display: block;
            position: absolute;
            right: 30px;
            top: 0;
            text-align: center;
            height: 1.5rem;
            width: 3rem;
            z-index: 2;
        }

        .sale-shape-top{
            border-left: 24px solid transparent;
            border-right: 24px solid transparent;
            border-top: 21px solid $light-red; 
            color: black;
            display: block;
            position: absolute;
            right: 30px;
            top: 1.46rem;
            height: 2rem;
            width: 2rem;
            z-index: 1;
        }
    }

}

.card-product{
    padding: 1rem;

    .image{
        height: 15rem;

        .card-img-top{
            max-height: 100%;
            max-width: 100%;
            width: auto;
        }
    }

    &:hover a{
        color: $light-brown;
    }

    &:hover .btn-add-to-cart{
        background-color: $light-brown;
    }
}

