// TITLE SECTION

.title-section{
    border-bottom: 4px solid $color-primary;
    
    &__text{
        background-color: $color-primary;
        color: white;
        display: inline-block;
        font-size: 1.2rem;
        height: 2rem;
        position: relative;
        padding: 0.2rem 0.4rem 0.4rem 0.4rem;
        text-align: center;
        text-transform: uppercase;
        z-index: 1;

    }

    &__shape{
        border-width: 32px 0 0 32px;
        border-color: transparent transparent transparent $blue;
        border-style: solid;
        display: inline-block;
        height: 0;
        margin-left: -0.5px;
        position: relative;
        width: 0;
        z-index: 0;
    }
}